.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  font-size: 1.25em;
}

.container {
  display: flex;
  height: 100%;
  padding: 1rem;
}

#menubar {
  padding-top: 1rem;
}

.menu {
  width: 2em;
  height: 2em;
  font-size: 1em;
  margin: 0 1em;
}

#editor {
  width: 50%;
  border: 0;
  border-radius: 10px;
  overflow-y: scroll;
  resize: none;
  font-size: 1em;
  padding: 1em;
}

#preview {
  width: 50%;
  border-radius: 10px;
  text-align: start;
  overflow-y: scroll;
  padding: 1em;
}