.light {
  --theme-color: #FFE6E6;
  --theme-content-background: #fff;
  --theme-page-background: #DAEAF1;
  --theme-page-text: #10314a;
  --theme-text-link: #bd4a73;
}

.dark {
  --theme-color: #133a57;
  --theme-content-background: #15222e;
  --theme-page-background: #101010;
  --theme-page-text: #ffacb4;
  --theme-text-link: #bd4a73;
}

.horizontal {
  --orientation-width: 50%;
  --orientation-height: 100%;
  --orientation-direction: row;
  --orientation-margin-horizontal: 0.5rem;
}

.vertical {
  --orientation-width: 100%;
  --orientation-height: 50%;
  --orientation-direction: column;
  --orientation-margin-vertical: 0.5rem;
}

.App {
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

.container {
  flex-direction: var(--orientation-direction);
}

#preview, #editor {
  background: var(--theme-content-background);
  color: var(--theme-page-text);
  height: var(--orientation-height);
  width: var(--orientation-width);
}

#preview {
  margin-left: var(--orientation-margin-horizontal);
  margin-top: var(--orientation-margin-vertical);
}

#editor {
  margin-bottom: var(--orientation-margin-vertical);
  margin-right: var(--orientation-margin-horizontal);
}

code {
  background-color: var(--theme-color);
}

a {
  color: var(--theme-text-link);
}