.light {
  --theme-color: #000;
  --theme-page-background: #ffd8d6;
  --theme-border: #fff;
  --theme-accent-light: #FFB3AF;
  --theme-accent-dark: #A76562;
}

.dark {
  --theme-color: #d3ede1;
  --theme-page-background: #1d2720;
  --theme-border: #487962;
  --theme-accent-light: #487962;
  --theme-accent-dark: #1d2720;
}

.App {
  background-color: var(--theme-page-background);
  color: var(--theme-color);
}

span.MuiBadge-colorSecondary {
  background-color: var(--theme-accent-dark);
}
.MuiButtonBase-root.MuiToggleButton-root.Mui-selected {
  color: var(--theme-color);
}
.MuiButtonBase-root.MuiToggleButton-root {
  color: var(--theme-accent-dark);
}

img {
  border: 2px solid var(--theme-border);
}

#menu {
  background: var(--theme-accent-light);
}