.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

#display {
  height: 2rem;
}

#menu {
  display: flex;
  flex-direction: row;
}

.drum-action {
  width: 200px;
  height: 2rem;
}

span.MuiBadge-colorSecondary {
  font-size: large;
}