.App {
  text-align: center;
  color: white;
}

.button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 0;
  font-size: larger;
}
.number-button {

}
.equals-button {

}
.clear-button {

}
.decimal-button {

}