.App {
  text-align: center;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}
#calculator {
  max-width: 500px;
}
.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
.btn {
  width: 100%;
  height: 100%;
}
.col, .col-2, .col-3, .col-4, .col-6, .col-8 {
  padding: 0;
}
.button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0;
  font-size: larger;
}
.no-show {
  color: #000;
}